.skillCard{
    width: 192px;
    height: 64px;
    padding: 8px 16px;
    background-color: #f9fafb;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.skillCard img{
    width: 48px;
    height: 100%;
    margin-right: 16px;
}

.title_all{
    font-size: xx-large;
    color: blue;
    margin: 15px 0;
}

.serviceCardcontain{
    align-items: center;
    height: auto;
    width: 300px;
    margin: 15px;
    border-radius: 25px ;
    padding: 35px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.serviceCardcontain img{
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
}

.serviceCardcontain h3 {
    text-align: center;
    margin: 3px;
}

.serviceCardcontain p{
    margin-bottom: 15px;
    
}

.projecturl{
    color: white;
    text-decoration: none;
}

.projectCardscontain{
    width: auto;
    margin: 35px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 25px;
}
 
.Projectimage img{  
    width: 100%;
    height: auto;
    border-radius: 25px 25px 0 0;
}


 .ProjectDetail{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 0 0 25px 25px;
} 

.ProjectDetail button{
    display: flex;
    align-items: center;
    border: none;
    margin-top: 15px;
    color: white;
    font-size: 18px;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
} 

.ProjectDetail{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 0 0 25px 25px;
} 

.ProjectDetail button{
    display: flex;
    align-items: center;
    border: none;
    margin-top: 15px;
    color: white;
    font-size: 18px;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
} 

.ProjectDetail button span{
    margin-right: 5px;
}

@media (max-width:767.98px) {
    .projectCardscontain{
        margin: 15px;
    }

    .Projectimage img {
        height: 200px;
        width: auto;
    }
    .serviceCardcontain{
        padding: 20px 15px;
    }
}

